.bg1
{
    background-image: url('blood-4944422_1280.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
 
}
.bg2
{
    background-image: url('default-blood-banks-4.webp');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}
.bg3
{
    background-image: url('depositphotos_28238365-stock-photo-tubes-for-centrifuge.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    
 
}
.bg4
{
    background-image: url('istockphoto-1164063949-612x612.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;

}
